@import "tailwindcss";

@source "../src";

@theme {
  --color-japandi-oat: #ebe6d6;
  --color-japandi-warm-sand: #ded5b9;
  --color-japandi-muted-clay: #cec4a7;
  --color-japandi-moss: #707e57;
  --color-japandi-earth: #6b6445;
  --color-japandi-rust: #a66144;
}

@layer base {
  html, body {
    @apply h-full m-0 p-0;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-japandi-oat);
    color: var(--color-japandi-earth);
  }

  #root {
    @apply h-full;
  }
}
